.space-left {
  margin-left: 40px;
}
.paginate {
  margin-left: 90px;
}

.search-form {
  height: 30px;
  border-radius: 3px;
  border: 1px solid #006ad8;
}

.search-btn-margin {
  margin-bottom: 2.5px;
}
